---
title: Services & Skills Directory
---



%section#services-sec.padding-80
  .container
    .row
      .col-md-12.margin-btm-40
        %h1.text-center The talkMountains directory
        %p.lead A directory listing for clubs, shops, guides, accomodation, instructors and more.

        %h2 Coming Soon
        %p
          Want to be listed? Please get in touch, it's free to be listed too, email us at
          %a{:mailto=>"support@talkmountains.net"} support@talkmountains.net
