---
title: The talkMountains community
---



%section#services-sec.padding-80
  .container
    .row
      .col-md-12.margin-btm-40
        %h1.text-center The talkMountains community
        %p.lead talkMountains is run by a dedicated community, which is active in many mountain sports. If you have any questions, or just want to explore talkMountains, be sure to get in touch, using one of the following ways:

        %h2 News
        %p
          Major news items will be announced on the website, if you have news, please let us know.

        %h2 Discussion Forums
        %p
          The forums and discussion for all the talk
          %a{:href=>"http://community.talkmountains.net", :target=>"_new"} Community Forums

        %h2 Social Networks
        %p
          We're active on Twitter. Follow us, or say hello
          %a{:href=>"https://twitter.com/talkmountains", :target=>"_new"}@talkmountains

        %p
          Keep an eye on our facebook page too, see it here
          %a{:href=>"https://facebook.com/talkMountains", :target=>"_new"} Facebook

        %h2 Technical issues?
        %p
          If you need support with the website, get in touch with support via email
          %a{:mailto=>"support@talkmountains.net"} support@talkmountains.net
