---
title: Welcome to talkMountains
---

%section.hero-slider-bg

  .slider-overlay
    .slider-main
      .container.text-center
        %ul.slides
          %li.flex-active-slide{:style => "width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0.9271; display: block; z-index: 2;"}
            %h1.slider-heading A community for mountain sports.
            %p.slider-desc If you love the mountains, this is a place for you
            -# %a.btn.btn-lg.btn-white{:href => "#"} Purchase Now
          %li{:style => "width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;"}
            %h1.slider-heading What's your passion?
            %p.slider-desc Bike, Climb, Paddle, Run, Ski, Walking, we're all here.
            -# %a.btn.btn-lg.btn-white{:href => "#"} Learn More
          %li{:style => "width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;"}
            %h1.slider-heading New Community
            %p.slider-desc We're still starting up, be a part of the new talkMountains
            %a.btn.btn-lg.btn-white{:href => "/community"} take a tour
          %li{:style => "width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0.0729; display: block; z-index: 1;"}
            %h1.slider-heading Getting in touch
            %p.slider-desc talkMountains is still starting up, if you're interested in finding out more, keep in touch with us.
            %a.btn.btn-white{:mailto => "support@talkmoutnains.net"} Contact us
      / /container



%section#services-sec.padding-60
  .container
    .row
      .col-md-12.text-center.margin-btm-40
        %h1 For people who love being in the mountains.
        %h2.subtitle talkMountains for when you're not.
      .col-md-3.margin-btm-20
        .services-box
          %i.fa.fa-question-circle
          %h3 Reviews
          %p
            We'll be bringing you reviews on gear and services. From user reviews to independent lab tests.
      .col-md-3.margin-btm-20
        .services-box
          %i.fa.fa-cogs
          %h3 Starting up
          %p
            We're in a closed beta at the moment, sign up to keep in touch.
      .col-md-3.margin-btm-20
        .services-box
          %i.fa.fa-user-plus
          %h3 Find a partner
          %p Need to find a partner or specialist for an adventure, we'll help you with that.

      .col-md-3.margin-btm-20
        .services-box
          %i.fa.fa-comments
          %h3 Discussion
          %p
            Our discussion boards will be a place to share experiences and discover new ones.

%section.colored-yellow.padding-60
  .container
    .row
      .col-md-12.margin-btm-20.text-center
        %h1 About
        %h2.subtitle
          %i.ion-ios7-people-outline
      .col-sm-8.col-sm-offset-2.text-center.margin-btm-20
        %p
          It's all about the mountains and enjoying them responsibly.
        %p
          talkMountains is a place for you if you enjoy the mountains, lake and rivers of our wild lands.
        %p
          Our aim is to bring you a great website, one you can share the joy and your experiences with peers.
        %p We as a community make the site what it is. The more you take part, through discussions; submitting news; articles; reviews and photos, the better the community will be.
        %p Keep up to date with us, follow, tweet, like us etc, the social networks:
      .col-sm-12.text-center
        %ul.list-unstyled.list-inline.social
          %li
            %a{:href => "https://facebook.com/talkMountains", :target=>"_new"}
              %i.fa.fa-facebook.fa-2x{ "data-original-title" => "Like On Facebook", "data-placement" => "top", "data-toggle" => "tooltip", :title => ""}
          %li
            %a{:href => "https://twitter.com/talkmountains", :target=>"_new"}
              %i.fa.fa-twitter.fa-2x{ "data-original-title" => "Follow On twitter", "data-placement" => "top", "data-toggle" => "tooltip", :title => ""}
          %li
            %a{:href => "https://plus.google.com/111092745619469065273/posts", :target=>"_new"}
              %i.fa.fa-google-plus.fa-2x{ "data-original-title" => "Follow On googleplus", "data-placement" => "top", "data-toggle" => "tooltip", :title => ""}
          -# %li
          -#   %a{:href => "#"}
          -#     %i.ion-social-rss-outline{"data-original-title" => "rss", "data-placement" => "top", "data-toggle" => "tooltip", :title => ""}
          -# %li
          -#   %a{:href => "#"}
          -#     %i.ion-social-linkedin-outline{"data-original-title" => "Follow On linkedin", "data-placement" => "top", "data-toggle" => "tooltip", :title => ""}
          -# %li
          -#   %a{:href => "#"}
          -#     %i.ion-social-pinterest-outline{"data-original-title" => "pinterest", "data-placement" => "top", "data-toggle" => "tooltip", :title => ""}
          -# %li
          -#   %a{:href => "#"}
          -#     %i.ion-social-skype-outline{"data-original-title" => "skype", "data-placement" => "top", "data-toggle" => "tooltip", :title => ""}
          -# %li
          -#   %a{:href => "#"}
          -#     %i.ion-social-dribbble-outline{"data-original-title" => "dribbble", "data-placement" => "top", "data-toggle" => "tooltip", :title => ""}
          -# %li
          -#   %a{:href => "#"}
          -#     %i.ion-social-yahoo-outline{"data-original-title" => "yahoo", "data-placement" => "top", "data-toggle" => "tooltip", :title => ""}
          -# %li
          -#   %a{:href => "#"}
          -#     %i.ion-social-vimeo-outline{"data-original-title" => "vimeo", "data-placement" => "top", "data-toggle" => "tooltip", :title => ""}
          -# %li
          -#   %a{:href => "#"}
          -#     %i.ion-social-github-outline{"data-original-title" => "github", "data-placement" => "top", "data-toggle" => "tooltip", :title => ""}
  / container
