---
title: Welcome to talkMountains
---

%section.hero-slider-bg

  .slider-overlay
    .slider-main
      .container.text-center
        %ul.slides
          %li.flex-active-slide{:style => "width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0.9271; display: block; z-index: 2;"}
            %h1.slider-heading A community for mountain sports.
            %p.slider-desc If you love the mountains, this is a place for you
            -# %a.btn.btn-lg.btn-white{:href => "#"} Purchase Now
          %li{:style => "width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;"}
            %h1.slider-heading Whats your passion?
            %p.slider-desc Bike, Climb, Paddle, Run, Ski, Walking, we're all here.
            -# %a.btn.btn-lg.btn-white{:href => "#"} Learn More
          %li{:style => "width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;"}
            %h1.slider-heading New Community
            %p.slider-desc We're still starting up, be a part of the new talkMountains
            %a.btn.btn-lg.btn-white{:href => "/community.html"} take a tour
          %li{:style => "width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0.0729; display: block; z-index: 1;"}
            %h1.slider-heading Getting in touch
            %p.slider-desc talkMountains is still starting up, if you're interested in finding out more, keep in touch with us.
            %a.btn.btn-white{:mailto => "support@talkmoutnains.net"} Contact us
      / /container



%section#services-sec.padding-60
  .container
    .row
      .col-md-12.text-center.margin-btm-40
        %h1 For people who love being in the mountains.
        %h2.subtitle talkMountains for when you're not.
      .col-md-3.margin-btm-20
        .services-box
          %i.fa.fa-heart
          %h3 Make With Love
          %p
            Pellentesque in tempor metus. Vestibulum sit amet elit justo, vitae gravida erat. Nam hendrerit leo non enim consectetur tristique eleifend nec turpis. Nulla fermentum, ante dapibus
      .col-md-3.margin-btm-20
        .services-box
          %i.fa.fa-thumbs-o-up
          %h3 Future
          %p
            Pellentesque in tempor metus. Vestibulum sit amet elit justo, vitae gravida erat. Nam hendrerit leo non enim consectetur tristique eleifend nec turpis. Nulla fermentum, ante dapibus
      .col-md-3.margin-btm-20
        .services-box
          %i.fa.fa-paw
          %h3 Dog Friendly
          %p
            Pellentesque in tempor metus. Vestibulum sit amet elit justo, vitae gravida erat. Nam hendrerit leo non enim consectetur tristique eleifend nec turpis. Nulla fermentum, ante dapibus
      .col-md-3.margin-btm-20
        .services-box
          %i.fa.fa-tree
          %h3 Eco
          %p
            Pellentesque in tempor metus. Vestibulum sit amet elit justo, vitae gravida erat. Nam hendrerit leo non enim consectetur tristique eleifend nec turpis. Nulla fermentum, ante dapibus

%section.colored-yellow.padding-60
  .container
    .row
      .col-md-12.margin-btm-20.text-center
        %h1 About Us
        %h2.subtitle
          %i.ion-ios7-people-outline
      .col-sm-8.col-sm-offset-2.text-center.margin-btm-20
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pulvinar scelerisque dictum. Donec iaculis, diam sit amet suscipit feugiat, diam magna volutpat augue, sit amet varius nulla turpis sit amet lacus. Aenean faucibus, sem quis convallis lobortis. Aenean faucibus, sem quis convallis lobortis.
      .col-sm-12.text-center
        %ul.list-unstyled.list-inline.social
          %li
            %a{:href => "https://facebook.com/talkMountains"}
              %i.fa.fa-facebook.fa-2x{ "data-original-title" => "Like On Facebook", "data-placement" => "top", "data-toggle" => "tooltip", :title => ""}
          %li
            %a{:href => "https://twitter.com/talkmountains"}
              %i.fa.fa-twitter.fa-2x{ "data-original-title" => "Follow On twitter", "data-placement" => "top", "data-toggle" => "tooltip", :title => ""}
          %li
            %a{:href => "#"}
              %i.fa.fa-google-plus.fa-2x{ "data-original-title" => "Follow On googleplus", "data-placement" => "top", "data-toggle" => "tooltip", :title => ""}
          -# %li
          -#   %a{:href => "#"}
          -#     %i.ion-social-rss-outline{"data-original-title" => "rss", "data-placement" => "top", "data-toggle" => "tooltip", :title => ""}
          -# %li
          -#   %a{:href => "#"}
          -#     %i.ion-social-linkedin-outline{"data-original-title" => "Follow On linkedin", "data-placement" => "top", "data-toggle" => "tooltip", :title => ""}
          -# %li
          -#   %a{:href => "#"}
          -#     %i.ion-social-pinterest-outline{"data-original-title" => "pinterest", "data-placement" => "top", "data-toggle" => "tooltip", :title => ""}
          -# %li
          -#   %a{:href => "#"}
          -#     %i.ion-social-skype-outline{"data-original-title" => "skype", "data-placement" => "top", "data-toggle" => "tooltip", :title => ""}
          -# %li
          -#   %a{:href => "#"}
          -#     %i.ion-social-dribbble-outline{"data-original-title" => "dribbble", "data-placement" => "top", "data-toggle" => "tooltip", :title => ""}
          -# %li
          -#   %a{:href => "#"}
          -#     %i.ion-social-yahoo-outline{"data-original-title" => "yahoo", "data-placement" => "top", "data-toggle" => "tooltip", :title => ""}
          -# %li
          -#   %a{:href => "#"}
          -#     %i.ion-social-vimeo-outline{"data-original-title" => "vimeo", "data-placement" => "top", "data-toggle" => "tooltip", :title => ""}
          -# %li
          -#   %a{:href => "#"}
          -#     %i.ion-social-github-outline{"data-original-title" => "github", "data-placement" => "top", "data-toggle" => "tooltip", :title => ""}
  / container
